<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザーごとのアドバイス</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-green-100 to-lime-200 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md mt-10">
        <h2 class="text-2xl font-bold mb-6 text-center">ユーザーごとのアドバイス</h2>
        <div class="text-gray-700">
            {% if advice_list %}
                <ul class="list-disc list-inside space-y-4">
                    {% for advice in advice_list %}
                        <li class="text-lg text-gray-800 bg-green-100 p-4 rounded shadow">{{ advice }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>特にアドバイスはありません。</p>
            {% endif %}
        </div>
        <div class="flex items-center justify-center mt-6">
        <a href="/top" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">トップページへ</a>

        </div>
    </div>
</body>
</html>
